name: ascci using need action

on: 
    push

jobs:
    build_jobs:
        runs-on: ubuntu-latest
        steps:
        - name: install cowsay program
          run: sudo apt-get install cowsay -y

        - name: Excute the cowsay CMD
          run: cowsay -f sheep "Run for cover, I am a sheep....RAWR">> sheep.txt

        - name: upload build artifact
          uses: actions/upload-artifact@v4
          with:
            name: Artifacts file
            path: sheep.txt

    Job_2:
        needs: build_jobs
        runs-on: ubuntu-latest
        steps:

        - name: Download build artifact
          uses: actions/download-artifact@v5
          with:
            name: Artifacts file

        - name: test the file
          run: grep -i "sheep" sheep.txt

    job_3:
        needs: Job_2
        runs-on: ubuntu-latest
        steps:

        - name: Download build artifact
          uses: actions/download-artifact@v5
          with:
            name: Artifacts file

        - name: read the file
          run: cat sheep.txt

        - name: Deploy
          run: echo 'Deployments is sucssful'
